<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <%= form_with model: [@giveaway, @comment], local: true do |f| %>
        <div class="field">
          <div class="container control">
            <%= f.text_area :body, required: true, class:"textarea", placeholder: true %>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%=f.submit class:"button is-link"  %>
          </div>
          <% if local_assigns[:edit] %>
            <div class="control">
              <%= link_to t('.cancel'), giveaway_path(@giveaway), class: "button is-link is-light" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>