<div class="container">
  <div class="column is-6 is-offset-3"><div class="box has-background-white-ter">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h5><%= @user.name %></h5>
          <p><small>username: <%= @user.name %></small><br>
          <i><small>email: <%= @user.email %></small></i></p>
        </div>
      </div>
    </article><br>
    <p>Giveaways created by <%= @user.name %>:
  </div>
</div>