<footer class="footer">
    <div class="container">
    <div class="content has-text-centered">
        <div class="soc">
        <a href="#"><i class="fab fa-github-alt"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <p>
        <strong>Giveaways</strong> by <a href="http://jgthms.com">nikola triki</a>.
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
        </p>
    </div>
    </div>
</footer>