<footer class="footer">
    <div class="content has-text-centered">
        <div class="soc">
        <a href="#"><i class="fab fa-github-alt"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <p>
        <%= t('.giveaways_html') %> <a href="http://jgthms.com">nikola triki</a>.
        <%= t('.licence')%> <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
        </p>
    </div>
</footer>