<ul class="has-text-right">
  <% if I18n.locale == :en %>
    <li><%= link_to 'македонски', url_for(locale: :mk), class:'tag is-white' %></li>
  <% else %>
    <li><%= link_to 'English', url_for(locale: :en), class:'tag is-white' %></li>
  <% end %>
</ul>