<ul class="has-text-right">
  <li><%= link_to 'македонски', root_path(locale: :mk), class:'tag is-white' %></li>
  <li><%= link_to 'English', root_path(locale: :en), class:'tag is-white' %></li>
</ul>