<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'GIVEAWAYS', root_path, class: "navbar-item is-size-3" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <strong><%= link_to 'Create New Giveaway', new_giveaway_path, class: "button is-primary" %></strong>
        </div>
      </div>
    </div>
  </div>
</nav>