<div class="field">
  <div class="control">
    <%= form.file_field :pictures_attributes %>
    <p><small><%= form.check_box :_destroy%> <i><small>remove</small></i></small></button></p>
  </div>
</div>