<div class="has-text-primary">
    <h1><strong class="is-size-3">Hi, we are giving stuff away here</strong></h1>
    <h1 class="is-italic is-size-4">If SpaceX can reuse rockets - People can reuse everything else!</h2>
</div><br>

<div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Find a giveaway">
  </div>
  <div class="control">
    <%= link_to 'Search', giveaways_path, class: "button is-info"%>
   
  </div>
</div>