<div class="column has-text-centered">
    <h1 class="title" style="color: #f14999;">Welcome to Giveaways</h1><br>
</div>
<div class="columns is-mobile is-multiline">
    <% @giveaways.each do |giveaway|%>
        <div class="box" style="margin-bottom: 24px">
            <div class="column is-narrow">
                <p class="bd-notification is-primary">
                    <code class="html"><small> <%= giveaway.location %></small></code><br>
                    <h2><%= link_to giveaway.title.truncate(15), giveaway_path(giveaway) %></h2>
                </p>
                <figure class="image is-128x128">
                      <%= link_to image_tag("https://bulma.io/images/placeholders/128x128.png"), giveaway_path(giveaway)%>
                </figure>
            </div>
        </div>
    <% end %>
</div>
