<h1>Giveaways</h1>
<p><%= link_to "Create NEW Giveaway", new_giveaway_path %></p>
<ul>
    <% @giveaways.each do |giveaway|%>
        <li>
            <%= link_to giveaway.title, giveaway_path(giveaway) %>- <%= giveaway.location %>
            <%= link_to "Edit", edit_giveaway_path(giveaway)%>
        </li>
    <% end %>
</ul>