@import 'bulma';

.field_with_errors input {
    border-color: #f14668;
}

.field_with_errors textarea {
    border-color: #f14668;
}

.image img {
    display: block;
    height: 100%;
    width: auto;
}